@font-face {
  font-family: "EuclidCircularB";
  font-display: swap;
  src: url("../fonts/EuclidCircularB-Light.woff") format("woff"), url("../fonts/EuclidCircularB-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SangBleuKingdom";
  font-display: swap;
  src: url("../fonts/SangBleu Kingdom Bold.woff") format("woff"), url("../fonts/SangBleu Kingdom Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "EuclidCircularB";
  font-display: swap;
  src: url("../fonts/EuclidCircularB-Medium.woff") format("woff"), url("../fonts/EuclidCircularB-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SangBleuKingdom";
  font-display: swap;
  src: url("../fonts/SangBleu Kingdom Regular.woff") format("woff"), url("../fonts/SangBleu Kingdom Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EuclidCircularA";
  font-display: swap;
  src: url("../fonts/Euclid CircularA-Semibold.woff") format("woff"), url("../fonts/Euclid CircularA-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EuclidCircularA";
  font-display: swap;
  src: url("../fonts/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "EuclidCircularB";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "EuclidCircularB";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.wrapper {
  background: #e5e5e5;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
}

.slick-list {
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  z-index: 12;
  width: 1440px;
  margin: 0 auto;
}

.header__content {
  position: relative;
}

.header__menu {
  padding: 0px 0px 0px 0px;
}

.menu__icon-place {
  width: 80px;
  height: 80px;
  position: relative;
}

.lang-switch {
  display: none;
}

.menu__icon {
  z-index: 3;
  display: block;
  position: absolute;
  width: 80px;
  height: 79px;
  background-color: #3d3c3c;
  cursor: pointer;
}

.menu .menu__icon span,
.menu .menu__icon::before,
.menu .menu__icon::after {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  height: 2px;
  width: 32px;
  left: 24px;
  top: 27px;
}

.menu .menu__icon::before,
.menu .menu__icon::after {
  content: "";
}

.menu .menu__icon::before {
  top: 25px;
}

.menu .menu__icon::after {
  top: 49px;
  width: 24px;
}

.menu .menu__icon span {
  top: 49%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu .menu__icon._active {
  height: 80px;
  position: absolute;
  right: 0;
  z-index: 8;
}

.menu .menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu .menu__icon._active::before {
  width: 39px;
  top: 50%;
  left: 28%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu .menu__icon._active::after {
  width: 40px;
  top: 49%;
  left: 27%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.menu .menu__body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.64);
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.menu .menu__body._active {
  display: block;
}

.menu .menu__content {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.menu .menu__item::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  border-bottom: 1px solid #c4c4c4;
  opacity: 0.08;
}

.menu .menu__item {
  position: absolute;
  width: 1360px;
  height: 768px;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #242424;
  opacity: 0.99;
}

.top {
  z-index: 10;
  height: 79px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.top a {
  color: #3d3c3c;
}

.top__navtabs {
  padding: 2px 0px 0px 62px;
}

.top__logo {
  z-index: 5;
}

.top__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-mob {
  padding: 10px 0px 0px 185px;
}

.navtabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.navtabs__navtab {
  padding: 0px 64px 0px 0px;
}

.navtabs__navtab:last-child {
  padding: 0px 0px 0px 0px;
}

.logo {
  position: absolute;
  top: 6px;
  left: 687px;
}

.lang {
  padding: 2px 0px 0px 230px;
}

.lang__tab a {
  color: rgba(0, 0, 0, 0.24);
}

.lang__tab.active a {
  color: #000;
}

.lang__ru-link {
  padding: 0px 24px 0px 0px;
}

.auth {
  padding: 3px 0px 0px 158px;
}

.auth__tab a {
  color: #fff;
}

._no-webp .auth__tab span::before {
  background: url("../img/top/key.png") 0 6px no-repeat; }

.auth__tab span::before {
  content: "";
  width: 15px;
  height: 15px;
  padding: 0px 23px 0px 0px;
}

.auth__tab:first-child {
  z-index: 5;
}

.auth__login {
  border-bottom: 1px dashed #fff;
}

.auth__number {
  padding: 0px 0px 0px 40px;
  z-index: 1;
}

.decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -1px 0px 0px 2px;
}

.decor img {
  padding: 1px 5px 0px 5px;
}

.decor::before {
  content: "";
  border-top: 1px solid #3d3c3c;
  width: 100%;
  opacity: 0.08;
}

.decor::after {
  content: "";
  border-top: 1px solid #3d3c3c;
  width: 100%;
  opacity: 0.08;
}

.header__top._active .navtabs {
  padding: 7px 0px 0px 85px;
}

.header__top._active .navtabs a {
  color: #fff;
  font-weight: 300;
}

.header__top._active .auth {
  padding: 6px 0px 0px 136px;
  font-weight: 300;
}

.item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-menu:after {
  content: "";
  border-bottom: 1px solid #d9c287;
  position: absolute;
  width: 1220px;
  right: 0;
  bottom: 71px;
  opacity: 24%;
}

.item-menu .mriya-link {
  position: absolute;
  right: 59px;
  bottom: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.item-menu .mriya-link a {
  color: #fff;
  opacity: 64%;
}

.sociald__decor {
  margin: 112px 0px 0px 83px;
  width: 1px;
  height: 368px;
  background: #d9c287;
  opacity: 0.24;
}

.sociald__content {
  padding: 0px 0px 0px 0px;
}

.sociald__element {
  height: 48px;
  width: 48px;
  border: 1px solid #d9c287;
  border-radius: 50%;
  position: relative;
  margin: 32px 0px 32px 60px;
}

.sociald__element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}

._no-webp .facebookd::before {
  background: url("../img/menu/facebook.png") 18px 14px no-repeat; }

._no-webp .twitterd::before {
  background: url("../img/menu/twitter.png") 14px 16px no-repeat; }

.instagramd {
  margin: 32px 0px 32px 59px;
}

._no-webp .instagramd::before {
  background: url("../img/menu/instagram.png") 14px 14px no-repeat; }

.head-hider {
  width: 320px;
  height: 80px;
  position: fixed;
  background-color: #3d3c3c;
  z-index: 3;
}

.cathegory__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 105px 0px 0px 33px;
}

.cathegory__list {
  position: relative;
  width: 378px;
  padding: 0px 0px 0px 0px;
}

.cathegory__viewzone {
  margin: 9px 0px 0px 21px;
  width: 399px;
  height: 552px;
  border-left: 1px solid rgba(217, 194, 135, 0.24);
}

.cathegory__sublist {
  padding: 0px 0px 0px 100px;
  position: absolute;
  top: 0px;
  left: 330px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  width: 100%;
}

.list-chategory a {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-transform: none;
  letter-spacing: normal;
}

.list-chategory__item {
  padding: 14px 24px 18px 24px;
}

.list-chategory__item div {
  position: relative;
}

.list-chategory__item:last-child:after {
  border-bottom: 1px solid rgba(217, 194, 135, 0.28);
}

._no-webp .list-chategory__item:hover div:after {
  background: url("../img/allinclusive/arrow-btn.png") 0 0 no-repeat; }

.list-chategory__item:hover div:after {
  content: "";
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  top: 42%;
  right: -10px;
  width: 8px;
  height: 12px;
  opacity: 24%;
}

.list-chategory .list-cathegory__sub-link:hover {
  color: #d9c287;
}

.list-chategory .cathegory__sublist > li:hover {
  color: #d9c287;
}

.list-chategory .cathegory__sublist li {
  padding: 16px 0px 16px 0px;
}

.viewzone-cathegory {
  padding: 0px 0px 0px 0px;
  width: 399px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.viewzone-cathegory__text {
  max-width: 389px;
  max-height: 320px;
  padding: 0px 18px 4px 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: none;
  color: rgba(255, 255, 255, 0.48);
}

.slider-item-menu {
  width: 421px;
  height: 616px;
}

.slider-item-menu__item {
  width: 420px;
  height: 616px;
  margin: 80px 0px 0px 1px;
  position: relative;
}

.item-menu__dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-menu__dots .slick-dots li {
  list-style: none;
  padding: 0px 8px;
}

.item-menu__dots .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.item-menu__dots .slick-dots li.slick-active button {
  background-color: #d9c287;
}

.item-menu__dots {
  position: absolute;
  top: 631px;
  right: 32px;
}

.item-menu__slider {
  position: relative;
}

.item__bg-image {
  position: absolute;
  top: 0;
  left: 0;
}

.item__intersect {
  position: absolute;
  top: 310px;
  left: 0;
}

.item__text-block {
  position: absolute;
  font-family: "SangBleuKingdom";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: none;
  color: #fff;
  top: 398px;
  left: 40px;
}

.item__text-block p {
  font-family: "EuclidCircularB";
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.item__more {
  margin: 26px 0px 0px 0px;
  font-family: "EuclidCircularB";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: center;
  width: 200px;
  height: 64px;
  border-radius: 8px;
  background: #bca56a;
  text-transform: uppercase;
  padding: 20px 0px 0px 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.item__more:hover {
  background: #927f4f;
}

.item__more:active {
  background: #bb9f58;
}

.trashbox {
  width: 320px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}

.trashbox a {
  color: white;
}

.findnumber-mob {
  margin: 30px 0px 0px 0px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  background: #bca56a;
  width: 290px;
  height: 54px;
  border-radius: 8px;
}

.links-garbage {
  padding: 35px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-garbage div {
  padding: 0px 15px 10px;
}

.social-mob .sociald__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 20px 0px;
}

.social-mob .sociald__content div {
  margin: 0px 10px;
}

.mria-link-mob {
  opacity: 64%;
  padding: 10px 0px 40px 0px;
}

.head__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-image {
  z-index: 4;
}

.bg-image__decor {
  position: absolute;
  top: -42px;
  right: -90px;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.bg-image__image {
  position: absolute;
  top: -50px;
  right: -40px;
}

.bg-image__image img {
  height: 90%;
  width: 90%;
}

.preview-head {
  position: relative;
}

.preview-head__wave {
  padding: 23px 0px 0px 0px;
  margin: 0px 0px 0px -80px;
}

.preview-head__min-title {
  padding: 23px 0px 0px 9px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  text-transform: uppercase;
}

.preview-head__title {
  padding: 47px 0px 0px 5px;
  font-family: "SangBleuKingdom";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
}

.preview-head__text {
  padding: 41px 0px 0px 10px;
  max-width: 420px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.preview-head__button-block {
  padding: 57px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview-head__button-block span {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.preview-head__v-decor {
  background: #d9c287;
  height: 48px;
  width: 1px;
  margin: 24px 0px 24px 42px;
}

._no-webp .preview-head__down {
  background: url("../img/head/down.png") center no-repeat; }

.preview-head__down {
  margin: 0px 0px 0px 10px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 1px solid #d9c287;
}

.findnumber {
  height: 64px;
  width: 200px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(#bca56a), to(#bca56a)), #86c1db;
  background: -o-linear-gradient(bottom, #bca56a, #bca56a), #86c1db;
  background: linear-gradient(0deg, #bca56a, #bca56a), #86c1db;
  color: white;
}

.findnumber:hover {
  background: -o-linear-gradient(60deg, #b8a77b, #aa9561);
  background: linear-gradient(30deg, #b8a77b, #aa9561);
}

.d3tour {
  margin: 0px 0px 0px 40px;
  height: 64px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #d9c287;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

.d3tour:hover {
  background: rgba(199, 199, 199, 0.2);
}

.slider-head {
  max-width: 1000px;
  position: absolute;
  margin: -81px 0px 0px -50px;
  top: 0;
}

.head__slider-body {
  position: relative;
}

.slider__decor {
  overflow-x: hidden;
  max-width: 1000px;
}

.flower-stroke {
  z-index: 3;
  position: absolute;
  margin: -80px 0px 0px -95px;
}

.intersect {
  z-index: 3;
  position: absolute;
  margin: 0px 0px 0px 138px;
  top: 530px;
}

._no-webp .weather {
  background: url("../img/head/IntersectTransp.png") 0 0 no-repeat; }

.weather {
  position: absolute;
  height: 312px;
  width: 762px;
  left: 225px;
  top: 530px;
  z-index: 5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__content {
  padding: 0px 0px 0px 10px;
}

.temp {
  font-size: 48px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0em;
}

._no-webp .temp::before {
  background: url("../img/head/Cloudly.png") 0 0 no-repeat; }

.temp::before {
  content: "";
  width: 59px;
  height: 40px;
  position: absolute;
  top: 100px;
  left: 252px;
}

.status {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
}

.location {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0em;
}

._no-webp .location::before {
  background: url("../img/head/pin.png") 0 0 no-repeat; }

.location::before {
  content: "";
  width: 12px;
  height: 16px;
  position: absolute;
  top: 191px;
  left: 300px;
}

.social {
  position: absolute;
  z-index: 5;
  left: 719px;
  top: 198px;
}

.social__element {
  margin: 0px 0px 48px 8px;
  background-color: #fff;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.social__element::after {
  content: "";
  height: 64px;
  width: 64px;
  position: absolute;
  border: 1px solid #d9c287;
  border-radius: 50%;
  left: 0;
}

.social__element:hover {
  background-color: rgba(212, 248, 182, 0.7);
}

._no-webp .social .facebook::before {
  background: url("../img/head/facebook.png") 19px 15px no-repeat; }

.social .facebook::before {
  content: "";
  height: 48px;
  width: 48px;
  position: absolute;
}

.social .facebook::after {
  top: -8px;
}

._no-webp .social .twitter::before {
  background: url("../img/head/twitter.png") 15px 17px no-repeat; }

.social .twitter::before {
  content: "";
  height: 48px;
  width: 48px;
  position: absolute;
}

.social .twitter::after {
  top: 88px;
}

._no-webp .social .instagram::before {
  background: url("../img/head/instagram.png") 15px 15px no-repeat; }

.social .instagram::before {
  content: "";
  height: 48px;
  width: 48px;
  position: absolute;
}

.social .instagram::after {
  top: 184px;
}

.choose {
  padding: 0px 0px 97px 0px;
}

.choose__title {
  padding: 86px 0px 50px 9px;
  font-family: "SangBleuKingdom";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.filter-choose {
  margin: 0px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 1160px;
  background: #f6f6f6;
  border-radius: 8px;
}

.filter-choose .filter-choose-block {
  position: relative;
  margin: 8px 0px 0px 8px;
  height: 64px;
  border: 1px solid #e3e3e3;
  background: #fff;
  padding: 20px 0px 0px 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  cursor: pointer;
}

z5 .filter-choose .filter-choose-block:hover {
  background-color: #e2e2e2;
}

.filter-choose__type {
  width: 328px;
}

._no-webp .filter-choose__type:after {
  background: url("../img/choose/arrow.png") 0 0 no-repeat; }

.filter-choose__type:after {
  content: "";
  width: 10px;
  height: 5px;
  top: 30px;
  left: 300px;
  position: absolute;
}

.filter-choose__date {
  width: 264px;
}

._no-webp .filter-choose__date::after {
  background: url("../img/choose/date.png") 0 0 no-repeat; }

.filter-choose__date::after {
  content: "";
  width: 23px;
  height: 225px;
  left: 227px;
  position: absolute;
}

.filter-choose__people {
  width: 392px;
}

._no-webp .filter-choose__people::after {
  background: url("../img/choose/Subtract.png") 0 0 no-repeat; }

.filter-choose__people::after {
  content: "";
  width: 20px;
  height: 22px;
  left: 356px;
  position: absolute;
}

.filter-choose__find {
  margin: 0px 0px 0px 8px;
  height: 80px;
  width: 144px;
  background: #3d3c3c;
  border-radius: 0 8px 8px 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.filter-choose__find:hover {
  background-color: #5a5858;
}

.gallery {
  padding: 40px 0px 0px 0px;
}

.gallery__filter span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gallery__filter span:hover {
  border-radius: 5%;
}

.gallery__items {
  width: 1309px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 29px 0px 0px 10px;
}

.gallery__items::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.gallery__column {
  padding: 0px 20px;
}

.gallery__column:first-child {
  padding: 0px 20px 0px 0px;
}

.gallery__item {
  position: relative;
}

.gallery__item img {
  border-radius: 8px;
}

._no-webp .gallery .item_g1::before {
  background: url("../img/choose/intersect.png") 0 0 no-repeat; }

.gallery .item_g1::before {
  content: "";
  position: absolute;
  width: 198px;
  height: 168px;
  top: 66px;
}

.gallery .item_g1 span {
  color: #ffffff;
  top: 115px;
  left: 23px;
  position: absolute;
  font-family: "EuclidCircularA";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.gallery .item_g1 span span {
  font-family: "EuclidCircularB";
  top: 39px;
  left: 0;
  width: 176px;
  font-size: 24px;
  font-weight: 300;
}

._no-webp .gallery .item_g3::before {
  background: url("../img/choose/pad.png") 0 0 no-repeat; }

.gallery .item_g3::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 72px;
  top: 162px;
}

.gallery .item_g3 span {
  color: #ffffff;
  top: 184px;
  left: 24px;
  position: absolute;
  line-height: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.filter-gallery {
  margin: 0px 0px 0px 10px;
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(61, 60, 60, 0.08);
}

.filter-gallery__list {
  padding: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  text-transform: uppercase;
}

.filter-gallery__list li {
  padding: 0px 48px 0px 0px;
}

.filter-gallery__list li span {
  cursor: pointer;
}

.filter-gallery__list li:last-child {
  padding: 0px 0px 0px 0px;
}

.filter-gallery__item.active {
  color: #bca56a;
}

.filter-gallery__item.active span {
  padding: 0px 0px 11px 0px;
  border-bottom: 2px solid #bca56a;
}

.filter__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -5px 0px 0px 0px;
}

.filter__arrow span {
  width: 12px;
}

.arrow {
  cursor: pointer;
  padding: 10px 15px 0px 15px;
}

.arrow:hover {
  background-color: rgba(207, 206, 206, 0.3);
  border-radius: 7px;
}

.arrow-right {
  margin: 0px 0px 0px 20px;
}

.arrow-right img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.info {
  padding: 0px 0px 96px 0px;
}

.info__content {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.info__block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__title {
  padding: 72px 0px 42px 0px;
  font-family: "SangBleuKingdom";
  font-size: 40px;
  line-height: 56px;
}

.info__title p {
  font-weight: 700;
  line-height: 56px;
}

.info__text {
  padding: 42px 0px 38px 0px;
  max-width: 640px;
  font-family: "SangBleuKingdom";
  font-size: 18px;
  line-height: 32px;
}

.info__btn {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #3d3c3c;
  height: 64px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #d9c287;
}

.info__bg1 {
  position: absolute;
  top: -240px;
  left: 0;
}

.info__bg2 {
  position: absolute;
  top: 120px;
  right: 0;
}

.info__bg1mob {
  position: absolute;
  top: 1570px;
  left: 0px;
}

.info__bg2mob {
  position: absolute;
  top: 360px;
  right: 0;
}

.allinclusive {
  padding: 0px 0px 0px 0px;
}

.allinclusive__content {
  max-width: 1392px;
  height: 856px;
  margin: 0 auto;
  position: relative;
}

.allinclusive__box {
  position: relative;
  z-index: 10;
}

.allinclusive .control-allinclusive {
  padding: 77px 0px 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SangBleuKingdom";
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  position: absolute;
  z-index: 10;
}

.allinclusive .control-allinclusive__title {
  padding: 0px 28px 0px 0px;
}

.allinclusive .control-allinclusive__arrows {
  padding: 5px 0px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allinclusive .control-allinclusive__arrows .slick-arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #d9c287;
  font-size: 0;
  position: relative;
}

._no-webp .allinclusive .control-allinclusive__arrows .slick-arrow::before {
  background: url("../img/allinclusive/arrow-btn.png") 0 0 no-repeat; }

.allinclusive .control-allinclusive__arrows .slick-arrow::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  top: 37%;
  left: 41%;
}

.allinclusive .control-allinclusive__arrows .slick-next {
  margin: 0px 0px 0px 16px;
}

.allinclusive .control-allinclusive__arrows .slick-next::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 37%;
}

.allinclusive .slider-allinclusive {
  z-index: 8;
  padding: 69px 0px 0px 0px;
}

.allinclusive .item-all {
  padding: 118px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.allinclusive .card__title {
  padding: 5px 0px 33px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 5px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #999999;
  text-transform: uppercase;
}

.allinclusive .card__text {
  padding: 0px 0px 58px 0px;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}

.allinclusive .card__description {
  max-width: 528px;
  padding: 22px 0px 10px 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #666666;
}

.allinclusive .card__link {
  padding: 0px 7px 0px 16px;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #ab955e;
  text-transform: uppercase;
  position: relative;
}

.allinclusive .card__link:after {
  content: "";
  margin: 11px 0px 0px 7px;
  position: absolute;
  height: 2px;
  width: 16px;
  background-color: #ab955e;
}

.allinclusive .card__link:hover {
  text-decoration: underline;
}

.allinclusive .card-1 {
  padding: 5px 0px 0px 0px;
  max-width: 560px;
}

.allinclusive .card-2 {
  padding: 0px 0px 0px 40px;
  max-width: 285px;
}

.allinclusive .card-3 {
  margin: -108px 0px 0px 47px;
  max-width: 276px;
  height: 504px;
  background: #ffffff;
  padding: 8px 8px;
  border-radius: 8px;
}

.allinclusive .card-3 .card__description {
  padding: 14px 0px 11px 16px;
}

.allinclusive__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f6f6f6;
  border-radius: 24px;
}

.allinclusive__vector-left {
  position: absolute;
  top: 0;
  left: 0;
}

.allinclusive__vector-right {
  position: absolute;
  top: 0;
  right: 0;
}

.footer__content {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bg {
  position: absolute;
  top: 150px;
}

.pad {
  z-index: 5;
  margin: -134px 0px 0px 0px;
}

.footer__content .logof {
  margin: -40px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 321px) {
  .header__top._active .logo {
    left: 50px;
    top: 8px;
  }

  .allinclusive .control-allinclusive__arrows .slick-arrow:hover {
    background-color: #dbb65a;
  }

  .allinclusive .control-allinclusive__arrows .slick-arrow:active {
    background-color: #bb9d53d5;
  }
}

@media (min-width: 322px) {
  .auth-mob {
    display: none;
  }

  .head-hider {
    display: none;
  }

  .list-chategory__item:hover {
    background-color: rgba(250, 201, 77, 0.16);
    border-radius: 8px;
  }

  .list-chategory__item:hover .cathegory__sublist {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }

  .trashbox {
    display: none;
  }

  .preview-head__bg-image {
    display: none;
  }

  .info__btn:hover {
    background: rgba(245, 241, 241, 0.3);
  }

  .info__bg1mob {
    display: none;
  }

  .info__bg2mob {
    display: none;
  }
}

@media (max-width: 1190px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .allinclusive .card-1 {
    padding: 5px 0px 50px 0px;
  }

  .allinclusive .card-1 img {
    width: 300px;
    height: 220px;
  }
}

@media (max-width: 321px) {
  .header__top {
    z-index: 1;
    background-color: #fff;
  }

  .lang-switch {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 80px;
    height: 80px;
    z-index: 1;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  .lang-switch a {
    color: #fff;
  }

  .menu .menu__item::before {
    background-color: #3d3c3c;
    opacity: 1;
    border-bottom: none;
    z-index: 8;
  }

  .menu .menu__item {
    height: 583px;
    overflow: scroll;
    z-index: 1;
    position: relative;
  }

  .top__navtabs {
    display: none;
  }

  .top__lang {
    display: none;
  }

  .top__auth {
    display: none;
  }

  .logo {
    top: 8px;
    left: 127px;
  }

  .lang__eng-link {
    display: none;
  }

  .lang {
    padding: 0px 0px 0px 0px;
  }

  .decor {
    display: none;
  }

  .item-menu:after {
    display: none;
  }

  .item-menu .mriya-link {
    display: none;
  }

  .item-menu__sociald {
    display: none;
  }

  .cathegory__content {
    padding: 75px 0px 0px 0px;
    overflow: scroll;
  }

  .cathegory__list {
    overflow-y: scroll;
    width: 320px;
    min-height: 465px;
    padding: 10px 0px 0px 2px;
    z-index: 1;
  }

  .cathegory__sublist {
    padding: 25px 0px 14px 15px;
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
  }

  .list-chategory a {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .list-chategory__item {
    padding: 6px 15px 9px 10px;
    width: 316px;
  }

  .list-chategory__item:after {
    content: "";
    border-bottom: 1px solid rgba(217, 194, 135, 0.08);
    width: 300px;
    height: 1px;
    padding: 4px 0px 0px 0px;
    position: absolute;
  }

  .list-chategory__item:hover {
    position: relative;
  }

  .list-chategory__item:hover div:before {
    content: "";
    z-index: -1;
    width: 318px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: -11px;
    border-radius: 8px;
    background: rgba(217, 194, 135, 0.16);
  }

  .list-chategory__item:hover div:after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: -5px;
  }

  .list-chategory .list-cathegory__sub-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .list-chategory .cathegory__sublist li {
    padding: 4px 0px 4px 0px;
  }

  .viewzone-cathegory {
    display: none;
  }

  .slider-item-menu {
    display: none;
  }

  .list-chategory__item:focus ~ .cathegory__sublist,
  .list-chategory__item:active ~ .cathegory__sublist,
  .list-chategory__item:hover .cathegory__sublist {
    display: block;
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }

  .preview-head__wave img {
    width: 45%;
    height: 45%;
  }

  .preview-head__title {
    font-size: 64px;
    line-height: 72px;
    padding: 20px 0px 0px 5px;
  }

  .preview-head__text {
    font-size: 20px;
    max-width: 328px;
    padding: 12px 0px 0px 10px;
    font-size: 18px;
  }

  .preview-head__button-block {
    padding: 40px 0px 0px 2px;
  }

  .preview-head__v-decor {
    display: none;
  }

  .preview-head__down {
    margin: 40px 0px 0px 118px;
    height: 58px;
    width: 58px;
  }

  .findnumber {
    height: 58px;
    width: 140px;
  }

  .d3tour {
    margin: 0px 0px 0px 15px;
    height: 58px;
    width: 140px;
  }

  .head__slider-body {
    display: none;
  }

  .choose {
    padding: 0px 0px 40px 0px;
  }

  .choose__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 56px;
  }

  .choose__title {
    padding: 20px 0px 12px 9px;
  }

  .filter-choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 312px;
    width: 305px;
    margin: 0px 0px 0px -3px;
  }

  .filter-choose .filter-choose-block {
    padding: 20px 0px 0px 3px;
  }

  .filter-choose__type {
    width: 290px;
  }

  .filter-choose__type::after {
    left: 260px;
  }

  .filter-choose__date {
    width: 290px;
  }

  .filter-choose__date::after {
    left: 255px;
  }

  .filter-choose__people {
    width: 290px;
  }

  .filter-choose__people::after {
    left: 257px;
    z-index: 7;
  }

  .filter-choose__people::before {
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(rgba(253, 251, 251, 0.37)), color-stop(30%, white), color-stop(75%, white), color-stop(75%, #fdfdfd));
    background: -o-linear-gradient(left, rgba(253, 251, 251, 0.37), white 30%, white 75%, #fdfdfd 75%);
    background: linear-gradient(to right, rgba(253, 251, 251, 0.37), white 30%, white 75%, #fdfdfd 75%);
    position: absolute;
    z-index: 3;
    width: 42px;
    height: 40px;
    top: 5px;
    left: 235px;
    border-radius: 7px;
  }

  .filter-choose__find {
    margin: 10px 0px 0px 12px;
    height: 64px;
    width: 280px;
    border-radius: 8px;
  }

  .gallery__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    padding: 25px 0px 0px 0px;
  }

  .gallery__column {
    padding: 25px 0px;
  }

  .gallery__item img {
    width: 300px;
    height: 232px;
  }

  .gallery .item_g1::before,
  .gallery .item_g2::before,
  .gallery .item_g3::before {
    width: 300px;
  }

  .filter-gallery {
    overflow-x: scroll;
    width: 290px;
  }

  .filter-gallery::-webkit-scrollbar {
    display: none;
  }

  .filter-gallery__list li:last-child {
    width: 180px;
  }

  .arrow {
    display: none;
  }

  .info__wave img {
    width: 88%;
    height: 88%;
  }

  .info__title {
    padding: 42px 0px 20px 0px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .info__title p {
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .info__logo {
    z-index: 8;
  }

  .info__logo img {
    width: 52%;
    height: 52%;
  }

  .info__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding: 22px 0px 38px 0px;
  }

  .info__btn {
    background-color: transparent;
    z-index: 2;
    font-size: 12px;
  }

  .info__bg1 {
    display: none;
  }

  .info__bg2 {
    display: none;
  }

  .allinclusive__content {
    max-width: 320px;
    height: 1156px;
  }

  .allinclusive .control-allinclusive {
    padding: 10px 0px 0px 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
  }

  .allinclusive .control-allinclusive__title {
    padding: 0px 15px 0px 0px;
  }

  .allinclusive .control-allinclusive__arrows .slick-arrow {
    height: 35px;
    width: 35px;
  }

  .allinclusive .control-allinclusive__arrows .slick-arrow::before {
    top: 35%;
    left: 39%;
  }

  .allinclusive .slider-allinclusive {
    padding: 0px 0px 0px 0px;
  }

  .allinclusive .item-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0px 0px 0px;
  }

  .allinclusive .card__title {
    display: none;
  }

  .allinclusive .card__text {
    display: none;
  }

  .allinclusive .card__image img {
    width: 300px;
    height: 220px;
  }

  .allinclusive .card__description {
    font-size: 15px;
  }

  .allinclusive .card__link {
    font-size: 9px;
  }

  .allinclusive .card-2 {
    padding: 0px 0px 0px 0px;
  }

  .allinclusive .card-3 {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    height: 334px;
    background: transparent;
  }

  .allinclusive__vector-right,
  .allinclusive__vector-left {
    display: none;
  }

  .bg {
    display: none;
  }

  .pad {
    display: none;
  }

  .footer__content .logof {
    padding: 170px 0px 180px 0px;
  }

  .footer__content .logof img {
    width: 18%;
    height: 18%;
  }
}

@media (max-width: 320px) {
  .header {
    width: 320px;
  }
}

._webp .auth__tab span::before { background: url(../img/top/key.webp) 0 6px no-repeat; }

._webp .facebookd::before { background: url(../img/menu/facebook.webp) 18px 14px no-repeat; }

._webp .twitterd::before { background: url(../img/menu/twitter.webp) 14px 16px no-repeat; }

._webp .instagramd::before { background: url(../img/menu/instagram.webp) 14px 14px no-repeat; }

._webp .list-chategory__item:hover div:after { background: url(../img/allinclusive/arrow-btn.webp) 0 0 no-repeat; }

._webp .preview-head__down { background: url(../img/head/down.webp) center no-repeat; }

._webp .weather { background: url(../img/head/IntersectTransp.webp) 0 0 no-repeat; }

._webp .temp::before { background: url(../img/head/Cloudly.webp) 0 0 no-repeat; }

._webp .location::before { background: url(../img/head/pin.webp) 0 0 no-repeat; }

._webp .social .facebook::before { background: url(../img/head/facebook.webp) 19px 15px no-repeat; }

._webp .social .twitter::before { background: url(../img/head/twitter.webp) 15px 17px no-repeat; }

._webp .social .instagram::before { background: url(../img/head/instagram.webp) 15px 15px no-repeat; }

._webp .filter-choose__type:after { background: url(../img/choose/arrow.webp) 0 0 no-repeat; }

._webp .filter-choose__date::after { background: url(../img/choose/date.webp) 0 0 no-repeat; }

._webp .filter-choose__people::after { background: url(../img/choose/Subtract.webp) 0 0 no-repeat; }

._webp .gallery .item_g1::before { background: url(../img/choose/intersect.webp) 0 0 no-repeat; }

._webp .gallery .item_g3::before { background: url(../img/choose/pad.webp) 0 0 no-repeat; }

._webp .allinclusive .control-allinclusive__arrows .slick-arrow::before { background: url(../img/allinclusive/arrow-btn.webp) 0 0 no-repeat; }